html {
  font-family: Helvetica;
  text-align: center;
}

.flatiron {
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

a {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#bottomnav {
  text-align: left;
  background-color: dimgray;
}

span {
  font-size: 11px;
  color: white;
}
